/* You can add global styles to this file, and also import other style files */
:root {
  --background-color: #fff;
  --color: #363636;
  --ray-visibility: hidden;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/tiles-cubes.png);
  animation: color-cycle 44s linear infinite;
  transition: all 1s;
  background-color: var(--background-color);
}

body.dark-theme {
  --background-color: #121212;
  --color: #fff;
  --ray-visibility: visible;
}

a {
  color: #ff4081;
  text-decoration: underline;
}

@keyframes color-cycle {
  0% {
    background-position: 32% 0%;
  }
  100% {
    background-position: 69% 100%;
  }
}
